body {
  background-color: #222;
  background-image: url(2073c7888c521fd797bc9838ead29f97.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh; }

.botao {
  background-color: #19B3E6;
  color: #fff;
  font-size: 1.8rem; }

